<h1>Create Your Journal Entry</h1>

<%= form_with_source do %>
  <%= bootstrap_form_for @journal, url: "/users/#{current_user[:id]}/journals" do |form| %>
    <%= form.text_area :title, placeholder: "Title", label: "Title" %>
    <%= form.text_area :body, placeholder: "Journal Entry", label: "Journal Entry"%>
    <%= form.submit %>
  <% end %>
<% end %>
